@layer utilities.aspect-ratio {
  .aspect-1x1 {
    aspect-ratio: 1 / 1;
  }

  .aspect-16x9 {
    aspect-ratio: 16 / 9;
  }

  .aspect-4x3 {
    aspect-ratio: 4 / 3;
  }

  .aspect-3x2 {
    aspect-ratio: 3 / 2;
  }

  .aspect-2x1 {
    aspect-ratio: 2 / 1;
  }
}
