@use '../abstracts/mixins' as m;

@layer components.header {
  // ==========================================================================
  // HEADER LAYOUT COMPONENT
  // ==========================================================================
  .header-container {
    --_header-block-end: var(--space-16);
    --_header-title-size: var(--fs-xl);
    --_header-title-leading: var(--fs-xl--line-height);

    container: HeaderContainer / inline-size;
    margin-block-end: var(--_header-block-end);

    // Title sizes
    &:is(.header-2xl) {
      --_header-title-size: var(--fs-2xl);
      --_header-title-leading: var(--fs-2xl--line-height);
    }

    &:is(.header-3xl) {
      --_header-title-size: var(--fs-3xl);
      --_header-title-leading: var(--fs-3xl--line-height);
    }

    &:is(.header-4xl) {
      --_header-title-size: var(--fs-4xl);
      --_header-title-leading: var(--fs-4xl--line-height);
    }

    &:is(.header-5xl) {
      --_header-title-size: var(--fs-5xl);
      --_header-title-leading: var(--fs-5xl--line-height);
    }

    & .header {
      --_header-columns: 1fr;
      --_header-columns-gap: var(--space-16);
      --_header-back-gap: var(--space-4);

      position: relative;
      display: grid;
      grid-template-columns: var(--_header-columns);
      align-items: center;
      gap: var(--_header-columns-gap);

      // Text title
      & .header-title {
        // Texts
        & .header-content > .caption {
          margin-bottom: var(--space-4);
        }

        & .text-title {
          font-size: var(--_header-title-size);
          line-height: var(--_header-title-leading);
          letter-spacing: -.15px;
          margin-bottom: 0;
          inline-size: fit-content;

          // View transition for the selected header
          contain: paint;
          view-transition-name: selected-header;

          &:not(:last-child) {
            margin-bottom: var(--space-4);
          }
        }

        & .text-description {
          font-size: var(--fs-xs);
          color: var(--theme-muted-a10);
          max-inline-size: 50ch;
          margin-bottom: 0;
          inline-size: fit-content;

          // View transition for the selected description
          contain: paint;
          view-transition-name: selected-description;
          @include m.text-wrap-pretty;
        }

        // Back navigation
        &.page-header-back {
          display: flex;
          align-items: center;
          gap: var(--_header-back-gap);
        }
      }

      // Actions
      &:has(.page-header-actions) {
        --_header-columns: 1fr auto;
      }

      & .header-actions {
        text-align: end;
        align-content: center;

        & .btn-group {
          justify-content: flex-end;
        }
      }

      // CQ
      @container HeaderContainer (width <= 700px) {
        &:has(.page-header-actions) {
          --_header-columns: 1fr;

          & .header-actions {
            text-align: start;

            & .btn-group {
              justify-content: flex-start;
            }

            &:is(.page-header-actions-responsive) {
              display: none;
            }
          }
        }
      }
    }
  }
}
