@use '../abstracts/mixins' as m;

@layer components.hero {
  // ==========================================================================
  // HERO LAYOUT COMPONENT
  // ==========================================================================
  .hero-content {
    --_hero-gap: var(--cffy-hero-gap, var(--cffy-space-8));
    --_hero-actions-offset: var(--cffy-hero-actions-offset, var(--cffy-space-24));
    --_hero-margin-block-end: var(--cffy-hero-margin-block-end, var(--cffy-space-32));
    --_hero-max-width: var(--cffy-hero-max-width, 60ch);

    display: grid;
    justify-items: start;
    text-align: start;
    gap: var(--_hero-gap);
    margin-block-end: var(--_hero-margin-block-end);

    // Alignment
    &:is(.hero-center) {
      justify-items: center;
      text-align: center;
    }

    &:is(.hero-end) {
      justify-items: end;
      text-align: end;
    }

    // Texts
    & .hero-title {
      margin-bottom: 0;
      max-inline-size: var(--_hero-max-width);
      text-wrap: balance;
    }

    & .hero-description {
      font-size: var(--cffy-hero-description-font-size, var(--cffy-fs-lg));
      line-height: var(--cffy-hero-description-line-height, var(--cffy-fs-lg--line-height));
      color: var(--cffy-hero-description-color, var(--cffy-muted-a10));
      max-inline-size: var(--_hero-max-width);
      margin-bottom: 0;
      @include m.text-wrap-pretty;
    }

    // View transition
    & :is(.hero-title, .hero-description):is(.hero-vt) {
      inline-size: fit-content;
      contain: paint;
    }

    // Actions
    & .hero-actions {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: var(--cffy-hero-actions-gap, var(--cffy-space-12));
      margin-block-start: calc(var(--_hero-actions-offset) - var(--_hero-gap));
    }
  }
}
