@use "../abstracts/variables" as v;
@use '../base/typography';
@use '../abstracts/mixins' as m;
@use "../abstracts/functions" as f;
@use '../utilities/text' as t;

@layer layout.sidebar {
  // ==========================================================================
  // SIDEBAR NAVIGATION DRAWER LAYOUT
  // ==========================================================================
  .navigation-drawer {
    --_sidebar-width: var(--cffy-sidebar-width, var(--cffy-container-2xs));
    --_sidebar-bg-color: var(--cffy-sidebar-bg-color, var(--cffy-background));
    --_sidebar-color: var(--cffy-sidebar-color, var(--cffy-on-background));
    --_sidebar-border-color: var(--cffy-sidebar-border-color, var(--cffy-outline-surface));
    --_sidebar-shadow: var(--cffy-sidebar-shadow, var(--cffy-shadow-lg));
    --_sidebar-radius: 0 var(--cffy-sidebar-radius, calc(var(--cffy-shape-container) * 2)) var(--cffy-sidebar-radius, calc(var(--cffy-shape-container) * 2)) 0;
    --_sidebar-padding: var(--cffy-sidebar-padding, var(--cffy-space-16));
    --_sidebar-spacing: var(--cffy-sidebar-spacing, var(--cffy-space-8));
    --_sidebar-brand-size: var(--cffy-sidebar-brand-size, 2.5rem);
    --_sidebar-item-color: var(--cffy-sidebar-item-color, color-mix(in oklab, var(--cffy-muted-a10) 37%, var(--_sidebar-color) 43%));
    --_sidebar-item-bg-color: transparent;
    --_sidebar-item-shadow: none;
    --_sidebar-item-radius: var(--cffy-sidebar-item-radius, #{f.shape(control, v.$button-border-radius)});
    --_sidebar-item-font-size: var(--cffy-sidebar-item-font-size, var(--cffy-fs-3xs));
    --_sidebar-item-font-weight: var(--cffy-sidebar-item-font-weight, var(--cffy-fw-500));
    --_sidebar-item-active-icon-color: var(--cffy-sidebar-item-active-icon-color, var(--cffy-primary-a10));
    --_sidebar-easing: var(--cffy-sidebar-easing, var(--cffy-ease-emphasized));
    --_sidebar-easing-out: var(--cffy-sidebar-easing, var(--cffy-ease-emphasized));
    --_sidebar-duration: var(--cffy-sidebar-duration, var(--cffy-duration-600));
    --_discrete: allow-discrete;

    container: DrawerContainer / inline-size;
    position: sticky;
    top: 0;
    display: block;
    width: var(--_sidebar-width);
    height: 100dvh;
    max-height: 100dvh;
    background-color: var(--_sidebar-bg-color);
    color: var(--_sidebar-color);
    box-shadow: var(--_sidebar-shadow);
    z-index: 99;
    padding: var(--_sidebar-padding);
    border-radius: var(--_sidebar-radius);
    will-change: translate, width;
    translate: 0;
    transition: width var(--_sidebar-duration) var(--_sidebar-easing-out),
      translate var(--_sidebar-duration) var(--_sidebar-easing-out);

    // Closed sidebar only with icons shown
    &.drawer-rail {
      width: calc(var(--_sidebar-width) / 2);
      transition: width var(--_sidebar-duration) var(--_sidebar-easing-out),
        translate var(--_sidebar-duration) var(--_sidebar-easing-out);
    }

    &.drawer-bordered {
      --_sidebar-radius: var(--cffy-radius-none);
      --_sidebar-shadow: none;

      border-right: var(--cffy-border-width-sm) solid var(--_sidebar-border-color);
    }

    & .drawer-content {
      display: flex;
      flex-direction: column;
      flex-basis: auto;
      flex-wrap: nowrap;
      height: 100%;
      min-height: 100%;

      .drawer-header {
        display: flex;
        justify-content: flex-start;
        gap: var(--_sidebar-spacing);
        flex-wrap: nowrap;
        word-break: break-all;
        align-items: center;
        padding: var(--_sidebar-spacing);

        :where(img) {
          // Images
          width: var(--_sidebar-brand-size);
          max-height: var(--_sidebar-brand-size);
          interpolate-size: allow-keywords;

          will-change: width, font-size;
          transition: width var(--_sidebar-duration) var(--_sidebar-easing),
            max-height var(--_sidebar-duration) var(--_sidebar-easing),
            font-size var(--_sidebar-duration) var(--_sidebar-easing),
            translate var(--_sidebar-duration) var(--_sidebar-easing);
        }

        :where(i:is(.drawer-brand-icon)) {
          display: grid;
          place-items: center;
          font-size: calc(var(--_sidebar-brand-size) / 1.5);
          width: var(--_sidebar-brand-size);
          height: var(--_sidebar-brand-size);
          border-radius: min(var(--cffy-radius-md), var(--cffy-shape-control));
          padding: .25rem;
          background-color: color-mix(in oklab, var(--cffy-primary-a10) 35%, transparent);
        }
      }

      .drawer-body {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: calc(var(--_sidebar-spacing) / 2);
        padding: var(--_sidebar-spacing);
        margin-block: var(--cffy-space-16);
        overflow-y: auto;
        overflow-x: hidden;

        .drawer-group {
          display: flex;
          flex-direction: column;

          & .drawer-group-content {
            display: flex;
            flex-direction: column;
          }
        }

        .drawer-item {
          --_sidebar-item-state: 0%;

          position: relative;
          display: flex;
          gap: var(--_sidebar-spacing);
          font-size: var(--_sidebar-item-font-size);
          font-weight: var(--_sidebar-item-font-weight);
          font-family: var(--cffy-font-primary);
          color: var(--_sidebar-item-color);
          background-color: f.state-layer(var(--_sidebar-item-state), var(--_sidebar-item-bg-color));
          box-shadow: var(--_sidebar-item-shadow);
          border-radius: var(--_sidebar-item-radius);
          padding: var(--_sidebar-spacing);
          letter-spacing: 0.55px;
          cursor: pointer;
          align-items: center;

          // Transition
          will-change: background-color, flex-direction, align-items, font-size;
          transition: background-color var(--_sidebar-duration) var(--_sidebar-easing),
            flex-direction var(--_sidebar-duration) var(--_sidebar-easing),
            align-items var(--_sidebar-duration) var(--_sidebar-easing),
            font-size var(--_sidebar-duration) var(--_sidebar-easing);

          &:is(a) {
            @extend .undecorated;
          }

          i {
            font-size: 1.25rem;
            font-variation-settings: var(--cffy-iw-semi-bold);
            user-select: none;

            // Arrow icon for collapsible groups
            &:last-child {
              position: absolute;
              inset-block: var(--_sidebar-spacing);
              right: var(--_sidebar-spacing);
              margin: auto;
            }
          }

          &:hover {
            --_sidebar-item-state: var(--cffy-state-hover-opacity);

            i {
              font-variation-settings: var(--cffy-iw-semi-bold);
            }
          }

          &:is(:active, :focus-visible) {
            --_sidebar-item-state: var(--cffy-state-pressed-opacity);
          }

          &:is(.router-link-exact-active, .active) {
            --_sidebar-item-color: var(--cffy-sidebar-item-active-color, var(--_sidebar-color));
            --_sidebar-item-bg-color: var(--cffy-sidebar-item-active-bg-color, var(--cffy-surface-body-pane));
            --_sidebar-item-shadow: var(--cffy-shadow-sm);
            --_sidebar-item-font-weight: var(--cffy-fw-800);

            >i:first-child {
              font-variation-settings: var(--cffy-iw-bold);
              color: var(--_sidebar-item-active-icon-color);
            }
          }

          &:is(.drawer-item-disabled) {
            --_sidebar-item-color: var(--cffy-muted-a10);

            opacity: 0.55;
            cursor: not-allowed;
            pointer-events: none;
          }

          &.drawer-item-child {
            margin-left: var(--cffy-space-8);
            padding-left: var(--cffy-space-14);
            border-radius: 0 var(--_sidebar-item-radius) var(--_sidebar-item-radius) 0;
            border-left: var(--cffy-border-width-sm) solid var(--_sidebar-border-color);
          }
        }

        .drawer-text {
          font-size: var(--_sidebar-item-font-size);
          color: var(--_sidebar-item-color);
          padding-inline: var(--_sidebar-spacing);
          margin-block: var(--_sidebar-spacing);
        }
      }

      .drawer-footer {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: flex-start;
        gap: calc(var(--_sidebar-spacing) / 2);
        padding: var(--_sidebar-spacing);
      }

      // Dropdown / Static content
      .drawer-dropdown-content {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: calc(var(--_sidebar-spacing) / 2);
        align-items: center;
        translate: 0;
        transform-origin: left bottom;
        transition: opacity var(--cffy-duration-150) ease-in-out,
          display var(--cffy-duration-150) ease-in-out var(--_discrete),
          translate var(--cffy-duration-150) ease-in-out;

        &:is(.dropdown-switcher) {
          justify-content: space-between;
          align-self: center;
          flex-grow: 1;
          opacity: 1;

          &:is(:hover) {
            background-color: f.state-layer(var(--cffy-state-hover-opacity));
            border-radius: min(var(--cffy-radius-sm), var(--cffy-shape-control));
            cursor: pointer;
          }

          .drawer-dropdown-switcher-icon {
            font-size: var(--cffy-fs-lg);
            color: var(--cffy-muted-a10);
          }
        }

        & .drawer-dropdown-text {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          gap: 0;

          & .drawer-dropdown-title {
            font-family: var(--cffy-font-primary);
            font-size: var(--cffy-fs-sm);
            font-weight: var(--cffy-fw-800);
          }

          & .drawer-dropdown-subtitle {
            font-size: var(--cffy-fs-2xs);
            font-weight: var(--cffy-fw-500);
            color: var(--cffy-muted-a10);
          }

          & p {
            margin-bottom: 0;
            max-width: 20ch;
            @extend .text-truncate;
          }
        }

        /* Initial state when paragraph first appears */
        @starting-style {
          & {
            opacity: 0;
            translate: -1rem;
          }
        }
      }
    }

    // Container query for drawer
    @container DrawerContainer (width <=9rem) {
      & .drawer-content {
        & .drawer-header {
          justify-content: center;
          gap: 0;
          flex-wrap: nowrap;
          align-items: center;

          :where(img, i) {
            --_sidebar-brand-size: 3.5rem;
          }
        }

        & .drawer-body {
          .drawer-text {
            display: none;
          }

          & .drawer-item {
            flex-direction: column;
            align-items: center;
            font-size: var(--cffy-fs-4xs);
            gap: calc(var(--_sidebar-spacing) / 2);

            span {
              display: none;
            }

            &.drawer-item-child {
              padding-left: 0;
              border-left: none;
            }
          }
        }

        // Footer and Header dropdown text hide
        & .drawer-header,
        & .drawer-footer {
          & .drawer-dropdown-content {
            display: none;
            opacity: 0;
            translate: -3rem;
          }
        }
      }
    }
  }

  // Media query for reduced motion
  @media (prefers-reduced-motion) {
    .navigation-drawer {
      --_sidebar-duration: var(--cffy-duration-300);

      transition-timing-function: step-start;

      &.drawer-closed {
        transition-timing-function: step-start;
      }

      & .drawer-content {
        & .drawer-header {
          :where(img, i) {
            transition-timing-function: step-start;
          }
        }
      }
    }
  }

  // ==========================================================================
  // SIDEBAR COMPONENT OVERLAY
  // ==========================================================================
  .drawer-overlay {
    --_sidebar-overlay-color: var(--cffy-sidebar-overlay-color, color-mix(in oklab, var(--cffy-color-brand-black-500) 25%, transparent));
    --_sidebar-overlay-blur: var(--cffy-sidebar-overlay-blur, 2px);

    display: none;
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100dvh;
    background: var(--_sidebar-overlay-color);
    z-index: calc(#{v.$z-index-fullscreen} - 1);
    backdrop-filter: blur(var(--_sidebar-overlay-blur));
    animation: fade-in var(--cffy-duration-200) ease-out forwards;
  }

  // ==========================================================================
  // MEDIA QUERIES & RESPONSIVE BEHAVIOR
  // ==========================================================================
  @include m.media-query(1024) {
    .drawer-overlay {
      display: block;
    }

    .navigation-drawer {
      position: fixed;
      z-index: calc(#{v.$z-index-fullscreen} + 1); // To show above navbar
      inset-block: 0;
      left: 0;
      margin: 0;
      height: 100dvh;
      translate: -100% 0;
      
      &.drawer-rail {
        width: var(--_sidebar-width);
      }

      &.drawer-open {
        translate: 0 0;
      }
    }
  }
}