@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

@layer components.buttons {
  // ==========================================================================
  // BUTTON COMPONENT
  // ==========================================================================
  .btn {
    @layer base {
      --_btn-columns: 1fr;
      --_btn-bg-color: var(--theme-surface-container);
      --_btn-color: var(--theme-on-background);
      --_btn-border: #{v.$border-sm};
      --_btn-border-color: transparent;
      --_btn-gap: 0;
      --_btn-radius: #{v.$button-border-radius};
      --_btn-padding-inline: 0.75rem;
      --_btn-padding-block: 0.375rem;
      --_btn-height: 36px;
      --_btn-icon-size: 1.15rem;
      --_btn-shadow: var(--shadow-sm);
      --_btn-easing-in: #{v.$easing-in-fallback};
      --_btn-easing-duration: 300ms;

      @include m.btn-base();
    }

    @layer variants {
      // Filled
      &.btn-filled {
        --_btn-bg-color: var(--theme-primary-a10);
        --_btn-color: var(--theme-on-primary);

        &:is(:hover) {
          --_btn-bg-color: var(--theme-primary-a20);
        }

        &:is(:focus, :active) {
          --_btn-bg-color: var(--theme-primary-a30);
        }

        // Variant
        &.filled-secondary {
          --_btn-bg-color: var(--theme-secondary-a10);
          --_btn-color: var(--theme-on-secondary);

          &:is(:hover) {
            --_btn-bg-color: var(--theme-secondary-a20);
          }

          &:is(:focus, :active) {
            --_btn-bg-color: var(--theme-secondary-a30);
          }
        }

        &.filled-accent {
          --_btn-bg-color: var(--theme-accent-a10);
          --_btn-color: var(--theme-on-accent);

          &:is(:hover) {
            --_btn-bg-color: var(--theme-accent-a20);
          }

          &:is(:focus, :active) {
            --_btn-bg-color: var(--theme-accent-a30);
          }
        }

        // Semantic
        &.filled-success {
          --_btn-bg-color: var(--theme-success-a10);
          --_btn-color: var(--theme-on-success);

          &:is(:hover) {
            --_btn-bg-color: var(--theme-success-a20);
          }

          &:is(:focus, :active) {
            --_btn-bg-color: var(--theme-success-a30);
          }
        }

        &.filled-warning {
          --_btn-bg-color: var(--theme-warning-a10);
          --_btn-color: var(--theme-on-warning);

          &:is(:hover) {
            --_btn-bg-color: var(--theme-warning-a20);
          }

          &:is(:focus, :active) {
            --_btn-bg-color: var(--theme-warning-a30);
          }
        }

        &.filled-danger {
          --_btn-bg-color: var(--theme-danger-a10);
          --_btn-color: var(--theme-on-danger);

          &:is(:hover) {
            --_btn-bg-color: var(--theme-danger-a20);
          }

          &:is(:focus, :active) {
            --_btn-bg-color: var(--theme-danger-a30);
          }
        }

        &.filled-info {
          --_btn-bg-color: var(--theme-info-a10);
          --_btn-color: var(--theme-on-info);

          &:is(:hover) {
            --_btn-bg-color: var(--theme-info-a20);
          }

          &:is(:focus, :active) {
            --_btn-bg-color: var(--theme-info-a30);
          }
        }

        // Fixed
        &.filled-white {
          --_btn-bg-color: var(--color-brand-white-500);
          --_btn-color: var(--color-brand-black-500);

          &:is(:hover) {
            --_btn-bg-color: color-mix(in srgb, var(--color-brand-white-500) 90%, var(--color-brand-black-500));
          }

          &:is(:focus, :active) {
            --_btn-bg-color: color-mix(in srgb, var(--color-brand-white-500) 80%, var(--color-brand-black-500));
          }
        }

        &.filled-black {
          --_btn-bg-color: var(--color-brand-black-500);
          --_btn-color: var(--color-brand-white-500);

          &:is(:hover) {
            --_btn-bg-color: color-mix(in srgb, var(--color-brand-black-500) 90%, var(--color-brand-white-500));
          }

          &:is(:focus, :active) {
            --_btn-bg-color: color-mix(in srgb, var(--color-brand-black-500) 80%, var(--color-brand-white-500));
          }
        }
      }

      // Tonal
      &.btn-tonal {
        --_btn-shadow: none;

        // Primaries
        &.tonal-primary {
          @include m.btn-tonal(var(--theme-primary-a10), var(--theme-primary-a90), true);
        }

        &.tonal-secondary {
          @include m.btn-tonal(var(--theme-secondary-a10), var(--theme-secondary-a90), true);
        }

        &.tonal-accent {
          @include m.btn-tonal(var(--theme-accent-a10), var(--theme-accent-a90), true);
        }

        // Semantic
        &.tonal-success {
          @include m.btn-tonal(var(--theme-success-a10), var(--theme-success-a90), true);
        }

        &.tonal-warning {
          @include m.btn-tonal(var(--theme-warning-a10), var(--theme-warning-a90), true);
        }

        &.tonal-danger {
          @include m.btn-tonal(var(--theme-danger-a10), var(--theme-danger-a90), true);
        }

        &.tonal-info {
          @include m.btn-tonal(var(--theme-info-a10), var(--theme-info-a90), true);
        }

        &.tonal-neutral {
          @include m.btn-tonal(var(--theme-surface-a40), var(--theme-surface-a90), false);
        }
      }

      // Outline
      &.btn-outline {
        --_btn-bg-color: transparent;
        --_btn-shadow: var(--shadow-xs);
        --_btn-border-color: var(--theme-outline-button);

        &:is(:hover) {
          --_btn-bg-color: var(--theme-surface-container-lowest);
          --_btn-shadow: var(--shadow-xs);
        }

        &:is(:focus, :active) {
          --_btn-bg-color: var(--theme-surface-container-low);
          --_btn-shadow: var(--shadow-xs);
        }
      }

      &.btn-outline-gradient {
        --_btn-bg-color: transparent;
        --_btn-bg-gradient: var(--theme-surface-a0), var(--theme-surface-a0);
        --_border-gradient: var(--theme-primary-a10), var(--theme-primary-a30);

        background: linear-gradient(var(--_btn-bg-gradient)) padding-box,
        linear-gradient(120deg, var(--_border-gradient)) border-box;
        @include m.generate-static-gradients(v.$static-gradients, true, false);
        @include m.generate-gradients(v.$dynamic-gradients, true, false);

        &:is(.bg-gradient-pane) {
          --_btn-bg-gradient: var(--theme-surface-body-pane), var(--theme-surface-body-pane);
        }

        &:is(.border-md) {
          --_btn-border: 1.5px;
        }
      }

      // Text
      &.btn-text {
        --_btn-bg-color: transparent;
        --_btn-color: var(--theme-primary-base);
        --_btn-shadow: none;

        &:is(.text-neutral) {
          --_btn-color: var(--theme-on-background);
        }

        &:is(:hover) {
          --_btn-shadow: none;
          @include m.btn-tonal(var(--theme-primary-a10), var(--theme-primary-a90), true);
        }

        &:is(:focus, :active) {
          --_btn-shadow: none;
          @include m.btn-tonal(var(--theme-primary-a20), var(--theme-primary-a90), true);
        }
      }

      &.btn-link {
        --_btn-bg-color: transparent;
        --_btn-color: var(--theme-on-background);
        --_btn-shadow: none;

        text-decoration-style: solid;
        text-decoration-line: underline;
        text-decoration-thickness: 1px;

        &:is(:hover) {
          --_btn-color: var(--theme-primary-a10);
          --_btn-bg-color: var(--theme-surface-container-high);
        }

        // Add an active state when the link is active
        &:is(.router-link-exact-active, .router-link-exact-active) {
          --_btn-color: var(--theme-primary-a10);
          --_btn-bg-color: var(--theme-surface-container-highest);
          --_btn-shadow: var(--shadow-sm);
        }
      }

      // Chip
      &.btn-chip {
        --_btn-bg-color: transparent;
        --_btn-border-color: var(--theme-outline-button);
        --_btn-radius: #{v.$rounded-md};
        --_btn-shadow: none;

        @include m.btn-size('sm');

        &:is(:hover) {
          --_btn-bg-color: var(--theme-surface-container-high);
          --_btn-shadow: var(--shadow-xs);
        }

        &:is(:focus, :active) {
          --_btn-bg-color: var(--theme-surface-container-high);
          --_btn-shadow: var(--shadow-xs);
        }

        &:is(.chip-text) {
          --_btn-border-color: transparent;
        }

        &:is(.chip-active) {
          --_btn-bg-color: var(--theme-surface-container-high);
          --_btn-border-color: var(--theme-surface-container-high);
          --_btn-radius: #{v.$rounded-full};

          padding-inline: 1rem;

          // For side sheets
          &:is(.a40) {
            --_btn-bg-color: var(--theme-surface-a40);
            --_btn-border-color: var(--theme-surface-a40);
          }

          // For modals
          &:is(.a60) {
            --_btn-bg-color: var(--theme-surface-a60);
            --_btn-border-color: var(--theme-surface-a60);
          }
        }
      }

      // Gradient
      &.btn-gradient {
        --angle: var(--gradient-angle);
        --_btn-shadow: rgba(255, 255, 255, 0.2) 0px 2px 3.1px inset;
        --_btn-border-color: transparent;
        --_btn-bg-gradient: var(--theme-primary-a30), var(--theme-primary-base);
        --_gradient-stops: var(--_btn-bg-gradient);

        background: linear-gradient(var(--gradient-angle), var(--_gradient-stops)) border-box;
        color: var(--theme-on-primary);
        transition: all 800ms v.$easing-emphasized, --gradient-angle 800ms v.$easing-emphasized;

        &:is(:hover) {
          --gradient-angle: 180deg;
        }

        &:is(:focus, :active) {
          --gradient-angle: 360deg;
        }

        @include m.generate-static-gradients(v.$static-gradients, false, true);
        @include m.generate-gradients(v.$dynamic-gradients, false, true);
      }

      &.btn-frosted {
        --_btn-bg-color: var(--theme-frosted-glass-bg);
        --_btn-border: #{v.$border-sm};
        --_btn-border-color: var(--theme-outline-button);

        backdrop-filter: var(--theme-frosted-glass-backdrop-filter);
      }

      // Sizes
      &.btn-sm {
        @include m.btn-size('sm')
      }

      &.btn-lg {
        @include m.btn-size('lg')
      }

      &.btn-icon {
        --_btn-columns: 1fr;
        --_btn-gap: 0;
        --_btn-radius: 100%;

        width: var(--_btn-height);

        // Shapes
        &.shape-sm {
          --_btn-radius: #{v.$rounded-sm};
        }

        &.shape-md {
          --_btn-radius: #{v.$rounded-md};
        }

        // Icon sizes
        &.compact-sm {
          --_btn-icon-size: .85rem;
        }

        &.compact {
          --_btn-icon-size: 1rem;
        }
      }

      &.btn-fab {
        --_btn-columns: 1fr;
        --_btn-gap: 0;
        --_btn-padding-inline: 0.85rem;
        --_btn-padding-block: 0.75rem;
        --_btn-radius: calc(#{v.$button-border-radius} + 8px);
        --_btn-shadow: var(--shadow-lg);

        width: fit-content;
        height: fit-content;
        aspect-ratio: 1;
        transform-origin: bottom right;
        animation: scale-in var(--_btn-easing-duration) var(--_btn-easing-in);

        @include m.btn-size('fab');
        @supports (transition: linear(1, 1, 1)) {
          --_btn-easing-in: #{v.$easing-sine-in-out};
          --_btn-easing-duration: 300ms;
        }

        &:has(span) {
          --_btn-gap: .5rem;
          aspect-ratio: unset;
        }

        &:is(.fab-mobile) {
          display: none;
        }
      }

      &.btn-cta {
        --_btn-radius: #{v.$rounded-full};
        --_btn-padding-inline: 2.5rem;
        --_btn-padding-block: 1.5rem;

        height: fit-content;
      }

      // Effects
      &.btn-bounce {
        --_btn-easing-in: #{v.$easing-bounce};
        --_btn-easing-duration: 600ms;

        transition: scale var(--_btn-easing-duration) var(--_btn-easing-in);

        &:is(:hover) {
          scale: 0.85;
        }
      }

      // Modifiers
      &.btn-block {
        --_btn-columns: auto;

        text-align: center;
        width: 100%;
      }

      &.btn-rounded {
        --_btn-radius: #{v.$rounded-full};
      }
    }

    @layer states {
      // Disabled
      &:is(:disabled, .disabled):not(.loading) {
        --_btn-bg-color: var(--theme-surface-disabled);
        --_btn-color: var(--theme-muted-a10);
        --_btn-border-color: var(--theme-outline-button);
        --_btn-shadow: none;

        cursor: not-allowed;
        opacity: 0.75;

        &:is(:hover, :focus, :active) {
          --_btn-bg-color: var(--theme-surface-disabled);
          --_btn-shadow: none;

          scale: none;
        }
      }

      // Loading
      & .icon-spinner-stack {
        grid-area: stack;
        visibility: hidden;
      }

      &:is(.loading) {
        --_btn-columns: 1fr;

        grid-template-areas: 'stack';
        cursor: progress;

        & .icon-spinner-stack {
          visibility: visible;

          & .icon-spinner {
            animation: spin 1000ms linear both infinite;
          }
        }

        & span:not(.icon-spinner-stack),
        & i:not(.icon-spinner),
        & svg {
          grid-area: stack;
          visibility: hidden;
          transition: grid-areas 300ms ease-in-out;
        }

        &:is(:focus, :active) {
          scale: none;
        }
      }
    }
  }
}
