@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;
@use "../utilities/mask";
@use "../abstracts/functions" as f;

@layer components.dialog {
  // ==========================================================================
  // DIALOG COMPONENT
  // ==========================================================================
  .dialog {
    --_dialog-bg-color: var(--cffy-dialog-bg-color, var(--cffy-surface-overlay));
    --_dialog-color: var(--cffy-dialog-color, var(--cffy-on-background));
    --_dialog-border-color: var(--cffy-dialog-border-color, var(--cffy-outline-overlay));
    --_dialog-radius: var(--cffy-dialog-radius, #{f.shape(container, v.$dialog-border-radius)});
    --_dialog-shadow: var(--cffy-dialog-shadow, var(--cffy-shadow-xl));
    --_dialog-padding: var(--cffy-dialog-padding, var(--cffy-space-16));
    --_dialog-spacing: var(--cffy-dialog-spacing, calc(var(--cffy-space-16) + var(--cffy-space-4)));
    --_dialog-max-size: var(--cffy-dialog-max-size, 90%);
    --_dialog-title-font-size: var(--cffy-dialog-title-font-size, var(--cffy-fs-base));
    --_dialog-title-font-weight: var(--cffy-dialog-title-font-weight, var(--cffy-fw-700));
    --_dialog-subtitle-color: var(--cffy-dialog-subtitle-color, var(--cffy-muted-a10));
    --_dialog-subtitle-font-size: var(--cffy-dialog-subtitle-font-size, var(--cffy-fs-2xs));
    --_dialog-icon-bg-color: var(--cffy-dialog-icon-bg-color, var(--cffy-primary-a10));
    --_dialog-icon-color: var(--cffy-dialog-icon-color, var(--cffy-on-primary));
    --_dialog-backdrop-color: var(--cffy-dialog-backdrop-color, var(--cffy-overlay-backdrop));
    --_dialog-backdrop-blur: var(--cffy-dialog-backdrop-blur, 5px);
    --_discrete: allow-discrete;
    --_dialog-easing: var(--cffy-dialog-easing, var(--cffy-ease-overshoot-soft));
    --_dialog-duration: var(--cffy-dialog-duration, var(--cffy-duration-600));

    position: fixed;
    inset: 0;
    padding: 0;
    width: calc(100dvh - 20dvh);
    height: calc(100dvh - 30dvh);
    max-width: var(--_dialog-max-size);
    max-height: var(--_dialog-max-size);
    border: var(--cffy-border-width-sm) solid var(--_dialog-border-color);
    background-color: var(--_dialog-bg-color);
    box-shadow: var(--_dialog-shadow);
    overflow: visible;

    &[open]:not(:modal) {
      z-index: v.$z-index-fullscreen;
    }

    // Dialog content
    & .dialog-content {
      display: flex;
      flex-direction: column;
      flex-basis: auto;
      flex-wrap: nowrap;
      height: 100%;
      min-height: 100%;
      padding: var(--_dialog-padding);
      overscroll-behavior: contain;

      & .dialog-header {
        display: flex;
        justify-content: space-between;
        gap: var(--cffy-space-12);
        word-break: break-word;
        align-items: center;

        :where(p) {
          &:is(.dialog-title) {
            color: var(--_dialog-color);
            font-family: var(--cffy-font-primary);
            font-weight: var(--_dialog-title-font-weight);
            font-size: var(--_dialog-title-font-size);
            margin-bottom: var(--cffy-space-4);
          }

          &:is(.dialog-subtitle) {
            color: var(--_dialog-subtitle-color);
            font-weight: var(--cffy-fw-500);
            font-size: var(--_dialog-subtitle-font-size);
            margin-bottom: 0;
          }
        }

        &:is(:empty) {
          display: none;
        }
      }

      & .dialog-body {
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
        margin-block: var(--_dialog-spacing);
        color: var(--_dialog-color);

        & p {
          :not(.alert, .badge) {
            color: var(--_dialog-color);
          }
        }

        &:is(:empty) {
          display: none;
        }
      }

      & .dialog-footer {
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-end;
        gap: calc(var(--_dialog-spacing) / 2);

        & .btn {
          padding-inline: var(--cffy-space-16);
          margin-inline: 0;
        }

        &:is(:empty) {
          display: none;
        }
      }
    }

    // Modal
    &.dialog-modal {
      border-radius: var(--_dialog-radius);

      /* 0. Not visible default state */
      scale: 0;
      translate: 0 -3rem;
      transform-origin: center;

      &, &::backdrop {
        opacity: 0;
        transition: overlay var(--cffy-duration-150) var(--_discrete),
        display var(--cffy-duration-600) var(--_discrete),
        scale var(--_dialog-duration),
        translate var(--_dialog-duration),
        opacity calc(var(--_dialog-duration) / 3);
        transition-timing-function: var(--_dialog-easing);
      }

      /* 2. On appear transition */
      &[open] {
        scale: 1;
        translate: 0 0;
        opacity: 1;

        &::backdrop {
          opacity: 1;
        }
      }

      /* 1. Before appear on screen */
      @starting-style {
        &[open],
        &[open]::backdrop {
          opacity: 0;
        }

        &[open] {
          scale: 0.90;
          translate: 0 -1.5rem;
        }
      }

      /* 2.5. Animation fallback */
      @supports not (transition-behavior: allow-discrete) {
        animation: fade-in-down var(--cffy-duration-300) ease-in-out both;
        animation-timing-function: var(--_dialog-easing);
      }
    }

    // Side Sheet
    &.dialog-side-sheet {
      inset-inline: auto var(--cffy-space-8);
      inset-block: var(--cffy-space-16);
      margin: auto;
      width: var(--cffy-container-2xs);
      height: 100%;
      max-height: calc(100dvh - 2rem);
      border-radius: var(--_dialog-radius);
      /* 0. Not visible default state */
      translate: 20rem 0;
      transform-origin: center right;
      will-change: translate, opacity;

      &, &::backdrop {
        opacity: 0;
        transition: overlay var(--cffy-duration-150) var(--_discrete),
        display 350ms var(--_discrete),
        translate var(--_dialog-duration),
        opacity calc(var(--_dialog-duration));
        transition-timing-function: var(--_dialog-easing);
      }

      &[open] {
        /* 2. On appear transition */
        translate: 0 0;
        opacity: 1;

        &::backdrop {
          opacity: 1;
        }
      }

      /* 1. Before appear on screen */
      @starting-style {
        &[open],
        &[open]::backdrop {
          opacity: 0.85;
        }

        &[open] {
          translate: 20rem 0;
        }
      }

      /* 2.5. Animation fallback */
      @supports not (transition-behavior: allow-discrete) {
        animation: opacity-in var(--cffy-duration-300) ease-in-out both;
        animation-timing-function: var(--_dialog-easing);
      }

      & .dialog-content {
        & .dialog-footer {
          :nth-child(1 of .btn) {
            padding-inline: var(--cffy-space-16);
            flex: 1;
            order: 0;
          }
        }
      }
    }

    // Confirm
    &.dialog-confirm {
      border-radius: var(--_dialog-radius);
      width: clamp(var(--cffy-container-2xs), 90vw, var(--cffy-container-sm));
      height: fit-content;

      & .dialog-content {
        height: auto;
        min-height: auto;
      }

      & .dialog-body {
        display: grid;
        place-content: center;

        & i {
          font-size: var(--cffy-fs-3xl);
          font-variation-settings: var(--cffy-iw-semi-bold);
          margin-bottom: var(--cffy-space-8);
        }

        & p:not(.text-muted) {
          font-size: var(--cffy-fs-lg);
          font-family: var(--cffy-font-primary);
          font-weight: var(--cffy-fw-700);
          line-height: 1.35;
          margin-bottom: var(--cffy-space-16);
        }
      }
    }

    // Sizes
    &.dialog-sm {
      width: clamp(var(--cffy-container-2xs), 90vw, var(--cffy-container-md));
      height: fit-content;

      & .dialog-content {
        height: auto;
        min-height: auto;
      }
    }

    &.dialog-md {
      width: clamp(var(--cffy-container-md), 90vw, var(--cffy-container-2xl));
    }

    &.dialog-lg {
      width: clamp(var(--cffy-container-2xl), 95vw, var(--cffy-container-4xl));
    }

    &.dialog-fullscreen {
      width: calc(100vw - 3rem);
      height: calc(100dvh - 3rem);
      max-width: none;
      max-height: none;

      @supports (height: 100dvh) {
        height: calc(100dvh - 3rem);
      }
    }

    // Headless
    &.dialog-headless {
      .dialog-content {
        .dialog-header {
          text-align: start;
          justify-content: flex-start;
          width: 100%;
          padding-top: var(--cffy-space-12);

          & i {
            --cffy-angle: 45deg;
            --_gradient-stops: #{v.$gradient-ghost};

            padding: var(--cffy-space-14);
            font-size: var(--cffy-fs-xl);
            border-radius: var(--cffy-radius-lg);
            color: var(--_dialog-icon-color);
            background-color: var(--_dialog-icon-bg-color);

            @extend .mask-shape !optional;
          }
        }
      }
    }

    // Backdrop
    &::backdrop {
      background: var(--_dialog-backdrop-color);
    }

    &.dialog-backdrop-blur {
      &::backdrop {
        backdrop-filter: blur(var(--_dialog-backdrop-blur));
      }
    }

    // Reduced motion
    @media (prefers-reduced-motion) {
      &.dialog-modal {
        &, &::backdrop {
          transition-timing-function: step-start;
        }
      }
    }
  }

  // ==========================================================================
  // MEDIA QUERIES & RESPONSIVE BEHAVIORS
  // ==========================================================================
  @include m.media-query(992) {
    .dialog,
    .dialog:is([class*="dialog-"]) {
      top: unset;
      bottom: 0;
      margin: 0;
      width: 100%;
      max-width: 100%;
      height: 75dvh;
      @supports (height: 100lvh) {
        height: 75lvh;
      }

      &:is(.dialog-fullscreen) {
        height: 100dvh;
        @supports (height: 100dvh) {
          height: 100dvh;
        }
      }

      &:is(.dialog-sm) {
        height: fit-content;

        & .dialog-content {
          max-height: 75dvh;
        }
      }

      &:is(.dialog-modal) {
        --_dialog-easing: var(--cffy-ease-decelerate);
        --_dialog-duration: var(--cffy-duration-500);
        --_dialog-radius: calc(#{f.shape(container, v.$dialog-border-radius)} * 2) calc(#{f.shape(container, v.$dialog-border-radius)} * 2) 0 0;

        /* 0. Not visible default state */
        scale: unset;
        translate: 0 80dvh;
        transform-origin: bottom center;

        & {
          transition: overlay var(--cffy-duration-100) var(--_discrete),
          display var(--cffy-duration-100) var(--_discrete),
          scale var(--_dialog-duration),
          translate var(--_dialog-duration),
          opacity calc(var(--_dialog-duration) / 3);
        }

        /* 2. On appear transition */
        &[open] {
          scale: unset;
          translate: 0 0;
          opacity: 1;
        }

        /* 1. Before appear on screen */
        @starting-style {
          &[open],
          &[open]::backdrop {
            opacity: 0;
          }

          &[open] {
            translate: 0 70dvh;
          }
        }
      }

      &:is(.dialog-side-sheet) {
        inset-block: 0;
        margin: auto;
        width: clamp(10rem, 85vw, var(--cffy-container-2xs));
        height: 100%;
      }

      &:is(.dialog-confirm) {
        --_dialog-radius: calc(#{f.shape(container, v.$dialog-border-radius)} * 2);

        width: clamp(var(--cffy-container-2xs), 90vw, var(--cffy-container-sm));
        height: fit-content;
        inset: 0;
        margin: auto;
        transform-origin: center;

        & .dialog-content {
          height: auto;
          min-height: auto;
        }

        .dialog-content
        .dialog-footer {
          display: grid;
          grid-template-columns: repeat(2, 1fr);

          & .btn:is(.btn-gradient, .btn-filled) {
            grid-area: 1 / 1;
          }
        }
      }
    }
  }
}
