@use "sass:map";
@use "../abstracts/variables" as v;

@layer components.form-check {
  // ==========================================================================
  // FORM CHECK COMPONENT
  // ==========================================================================
  .form-check {
    --_input-check-spacing: var(--input-check-spacing, var(--space-14));
    --_input-check-gap: var(--input-check-gap, var(--space-12));
    --_input-check-height: 1.5rem;
    --_input-check-size: var(--input-check-size, 1.25rem);
    --_input-check-bg-color: var(--input-check-bg-color, transparent);
    --_input-check-border-width: var(--input-check-border-width, var(--border-width-md));
    --_input-check-border-color: var(--input-check-border-color, var(--theme-outline-text-field));
    --_input-check-checked-icon: none;
    --_input-check-easing: var(--input-check-easing, var(--ease-emphasized));
    --_input-check-duration: var(--input-check-duration, var(--duration-300));

    display: flex;
    align-items: center;
    gap: var(--_input-check-gap);
    min-height: var(--_input-check-height);
    padding-left: 0;

    &:not(:last-child) {
      margin-bottom: var(--_input-check-spacing);
    }

    // Sizing variants
    &:is(.form-sm) {
      --_input-check-height: 1.25rem;
      --_input-check-size: 1rem;
      --_input-check-gap: var(--space-8);
      
      font-size: var(--fs-3xs);
    }

    &:is(.form-lg) {
      --_input-check-height: 1.75rem;
      --_input-check-size: 1.5rem;
      --_input-check-gap: var(--space-14);

      font-size: var(--fs-base);
    }

    & label,
    & .form-check-label {
      display: inline-block;
      margin-bottom: 0;
    }

    & .form-check-input {
      position: relative;
      width: var(--_input-check-size);
      height: var(--_input-check-size);
      margin-top: 0;
      vertical-align: top;
      -webkit-appearance: none;
      appearance: none;
      background-color: var(--_input-check-bg-color);
      background-image: var(--_input-check-checked-icon);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      border: var(--_input-check-border-width) solid var(--_input-check-border-color);
      -webkit-print-color-adjust: exact;
      color-adjust: exact;
      print-color-adjust: exact;
      transition: background-color var(--_input-check-duration) var(--_input-check-easing),
      border-color var(--_input-check-duration) var(--_input-check-easing);

      // Form checked state
      &:is(:checked) {
        --_input-check-border-color: var(--input-check-checked-color, var(--theme-primary-a10));
        --_input-check-bg-color: var(--input-check-checked-color, var(--theme-primary-a10));
      }

      &:is(.form-check-danger:checked) {
        --_input-check-border-color: var(--theme-danger-a10);
        --_input-check-bg-color: var(--theme-danger-a10);
      }

      &:is(:disabled) {
        pointer-events: none;
        filter: none;
        opacity: .5;

        ~ .form-check-label {
          opacity: .75;
          color: var(--theme-muted-a10);
        }
      }
    }

    // Checkbox exclusive radius and checked state
    & .form-check-input[type="checkbox"] {
      border-radius: var(--input-check-radius, #{map.get(v.$border-radius, 4)});

      &:is(:checked) {
        --_input-check-checked-icon: var(--theme-form-checkbox-icon);

        background-image: var(--_input-check-checked-icon);
      }
    }

    // Radio exclusive radius and checked state
    & .form-check-input[type="radio"] {
      border-radius: map.get(v.$border-radius, 50);

      &:is(:checked) {
        --_input-check-checked-icon: var(--theme-form-radio-icon);

        background-image: var(--_input-check-checked-icon);
      }
    }

    // Checkbox switch variant
    &.form-check-switch {
      & .form-check-input {
        --_input-check-bg-color: var(--input-switch-bg-color, var(--theme-surface-container));
        --_input-check-border-color: var(--input-switch-border-color, var(--theme-outline-surface));
        --_input-switch-thumb-color: var(--input-switch-thumb-color, var(--theme-muted-base));
        --_input-switch-checked-bg-color: var(--input-switch-checked-color, var(--input-check-checked-color, var(--theme-primary-a10)));
        --_input-switch-checked-border-color: var(--input-switch-checked-color, var(--input-check-checked-color, var(--theme-primary-a10)));
        --_input-switch-checked-thumb-color: var(--input-switch-checked-thumb-color, var(--theme-surface-container-highest));

        position: relative;
        width: calc(var(--_input-check-size) * 2);
        height: var(--_input-check-size);
        background: var(--_input-check-bg-color);
        border: var(--_input-check-border-width) solid var(--_input-check-border-color);
        border-radius: var(--radius-full);
        opacity: 1;
        cursor: pointer;

        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 50%;
          height: 100%;
          scale: 0.65;
          margin-block: auto;
          border-radius: inherit;
          background-color: var(--_input-switch-thumb-color);
          z-index: 0;
          transition: left var(--_input-check-duration) var(--_input-check-easing),
          scale var(--_input-check-duration) var(--_input-check-easing),
          background-color var(--_input-check-duration) var(--_input-check-easing);
        }

        &:checked {
          background: var(--_input-switch-checked-bg-color);
          border-color: var(--_input-switch-checked-border-color);

          &:after {
            left: 50%;
            scale: 0.85;
            background-color: var(--_input-switch-checked-thumb-color);
          }
        }
      }
    }
  }
}
