@use "../abstracts/variables" as v;

@layer components.form-otp {
  // ==========================================================================
  // FORM OTP COMPONENT
  // ==========================================================================
  .form-otp {
    --_input-otp-gap: var(--input-otp-gap, .5rem);

    display: flex;
    align-items: center;
    gap: var(--_input-otp-gap);
    flex-wrap: wrap;

    .form-otp-box {
      --_input-padding-inline: 0;
      --_input-padding-block: 0;
      --_input-font-size: var(--input-otp-font-size, var(--fs-base));
      --_input-width: var(--_input-height);

      flex: 0 0 auto;
      text-align: center;
      font-weight: var(--input-otp-font-weight, var(--fw-500));
    }
  }
}
