@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;

@layer components.popover {
  // ==========================================================================
  // POPOVER COMPONENT
  // ==========================================================================
  .popover {
    --_popover-bg-color: var(--cffy-popover-bg-color, var(--cffy-surface-overlay));
    --_popover-color: var(--cffy-popover-color, var(--cffy-on-background));
    --_popover-border-color: var(--cffy-popover-border-color, var(--cffy-outline-surface));
    --_popover-shadow: var(--cffy-popover-shadow, var(--cffy-shadow-lg));
    --_popover-radius: var(--cffy-popover-radius, #{f.shape(container, v.$dialog-border-radius)});
    --_popover-max-width: var(--cffy-popover-max-width, var(--cffy-container-xs));
    --_popover-max-height: var(--cffy-popover-max-height, 30rem);
    --_popover-spacing: var(--cffy-popover-spacing, var(--cffy-space-16));
    --_popover-offset: var(--cffy-popover-offset, .625rem);
    --_popover-easing: var(--cffy-popover-easing, ease-in-out);
    --_popover-duration: var(--cffy-popover-duration, var(--cffy-duration-250));

    position: fixed;
    inset: 0;
    margin: auto;
    width: max-content;
    max-width: var(--_popover-max-width);
    max-height: var(--_popover-max-height);
    border-radius: var(--_popover-radius);
    box-shadow: var(--_popover-shadow);
    background: var(--_popover-bg-color);
    border: var(--cffy-border-width-sm) solid var(--_popover-border-color);
    overflow: visible;

    translate: 0 1rem;
    opacity: 0;
    transition: translate var(--_popover-duration), opacity var(--_popover-duration), display var(--_popover-duration) allow-discrete, overlay var(--_popover-duration) allow-discrete;
    transition-timing-function: var(--_popover-easing);

    // ==========================================================================
    // POPOVER SIZES (SM, LG)
    // ==========================================================================
    &.popover-lg {
      --_popover-max-height: 40rem;
    }

    @supports (anchor-name: --foo) {
      &.popover-sm {
        --_popover-max-width: anchor-size(width);

        width: anchor-size(width);
      }

      &.popover-lg {
        --_popover-max-width: none;

        width: max(30rem, anchor-size(width));
      }
    }

    // ==========================================================================
    // ANCHOR PROGRESSIVE ENHANCEMENT
    // ==========================================================================
    @supports (anchor-name: --foo) {
      &.popover-anchor {
        position: absolute;
        position-anchor: --cffy-anchor-popover;
        position-try: flip-block, flip-inline;
        margin: 0;
        inset: auto;
        bottom: anchor(top);
        left: anchor(left);
        margin-block: var(--_popover-offset);

        // Block axis (vertical)
        &.popover-anchor-top {
          top: auto;
          bottom: anchor(top);
        }

        &.popover-anchor-bottom {
          bottom: auto;
          top: anchor(bottom);
        }

        // Inline axis (horizontal)
        &.popover-anchor-left {
          right: auto;
          left: anchor(left);
        }

        &.popover-anchor-right {
          left: auto;
          right: anchor(right);
        }
      }
    }

    &:popover-open {
      translate: 0;
      opacity: 1;

      @starting-style {
        translate: 0 1rem;
        opacity: 0;
      }
    }

    & .popover-content {
      display: flex;
      flex-direction: column;
      padding: calc(var(--_popover-spacing) / 2);
      color: var(--_popover-color);
      max-height: 25rem;

      & .popover-header {
        margin-bottom: var(--_popover-spacing);

        & .popover-title {
          font-size: var(--cffy-popover-title-font-size, var(--cffy-fs-xs));
          font-weight: var(--cffy-popover-title-font-weight, var(--cffy-fw-700));
          color: var(--_popover-color);
          margin-bottom: var(--cffy-space-4);
        }

        & .popover-subtitle {
          font-size: var(--cffy-popover-subtitle-font-size, var(--cffy-fs-3xs));
          color: var(--cffy-popover-subtitle-color, var(--cffy-muted-a10));

          &:not(:last-child) {
            margin-bottom: var(--cffy-space-4);
          }
        }
      }

      & .popover-body {
        flex-grow: 1;
        overflow-y: auto;
        overscroll-behavior: contain;
      }

      & .popover-footer {
        border-top: var(--cffy-border-width-sm) solid var(--_popover-border-color);
        margin-top: var(--_popover-spacing);
      }
    }

    // ==========================================================================
    // MEDIA QUERIES & RESPONSIVE BEHAVIORS
    // ==========================================================================
    @include m.media-query(768) {
      &.popover {
        --_popover-max-width: calc(100dvw - (var(--_popover-spacing) * 2));
        --_popover-max-height: calc(100dvh - (var(--_popover-spacing) * 2));

        left: 0;
        right: 0;
        margin-inline: auto;

        &.popover-lg {
          --_popover-max-width: calc(100dvw - (var(--_popover-spacing) * 2));

          width: 100%;
        }

        &.popover-anchor {
          &:is(.popover-anchor-left, .popover-anchor-right) {
            inset-inline: 0;
          }

          &:is(.popover-anchor-top, .popover-anchor-bottom) {
            position: fixed;
            inset-block: 0;
            margin-block: auto;
          }
        }
      }
    }
  }
}