@use "../abstracts/variables" as v;

@layer components.tooltip {
  // ==========================================================================
  // TOOLTIP COMPONENT
  // ==========================================================================
  .v-popper--theme-tooltip {
    --_tooltip-bg-color: var(--tooltip-bg-color, var(--theme-surface-tooltip));
    --_tooltip-color: var(--tooltip-color, #{v.$white});
    --_tooltip-padding: var(--tooltip-padding, var(--space-8));
    --_tooltip-kbd-bg-color: var(--tooltip-kbd-bg-color, var(--theme-surface-kbd));
    --_tooltip-kbd-color: var(--tooltip-kbd-color, var(--theme-on-background-inverse));

    isolation: isolate;
    position: relative;
    display: inline-block;
    //z-index: 100;

    .v-popper__wrapper {
      .v-popper__inner {
        background-color: var(--_tooltip-bg-color);
        color: var(--_tooltip-color);
        padding: var(--_tooltip-padding);
        box-shadow: var(--tooltip-shadow, none);
        border-radius: var(--tooltip-radius, var(--radius-md));
        font-size: var(--tooltip-font-size, .6875rem);
        font-weight: var(--tooltip-font-weight, var(--fw-500));

        :where(span, p, a) {
          color: var(--_tooltip-color);
        }

        // KBD styles inside the tooltip
        kbd {
          background-color: var(--_tooltip-kbd-bg-color);
          border: var(--border-width-sm) solid var(--_tooltip-kbd-bg-color);
          color: var(--_tooltip-kbd-color);
          font-weight: var(--fw-800);
        }
      }
    }

    .v-popper__arrow-outer,
    .v-popper__arrow-inner {
      visibility: hidden;
    }
  }
}
