@use "../abstracts/variables" as v;
@use '../base/typography';
@use '../utilities/text' as t;

@layer layout.sidebar {
  .navigation-drawer {
    --_drawer-radius: #{v.$rounded-xl v.$rounded-none v.$rounded-none v.$rounded-xl};
    --_drawer-easing-in: #{v.$easing-in-fallback};
    --_drawer-easing-out: #{v.$easing-out-fallback};
    --_drawer-easing-duration: 300ms;
    --_drawer-gutter: calc(#{v.$space-1} - 6px);
    --_discrete: allow-discrete;
    --_drawer-bg-color: var(--theme-background);
    --_drawer-color: var(--theme-on-primary);

    container: DrawerContainer / inline-size;
    position: sticky;
    top: 0;
    display: block;
    width: var(--theme-nav-drawer-width);
    height: 100vh;
    max-height: 100vh;
    background-color: var(--_drawer-bg-color);
    color: var(--_drawer-color);
    box-shadow: var(--shadow-lg);
    z-index: 99;
    padding: 1.2rem;
    border-top-right-radius: v.$rounded-xl;
    border-bottom-right-radius: v.$rounded-xl;

    // Move sidebar to the right and hide it
    will-change: translate, width;
    translate: 0;

    // Easing linear function transition
    transition: width var(--_drawer-easing-duration) var(--_drawer-easing-out),
      translate var(--_drawer-easing-duration) var(--_drawer-easing-out);

    @supports (transition: all 100ms linear(1, 1, 1)) {
      --_drawer-easing-in: #{v.$easing-emphasized};
      --_drawer-easing-out: #{v.$easing-emphasized};
      --_drawer-easing-duration: 600ms;
    }

    // Closed sidebar only with icons shown
    &.drawer-closed {
      width: calc(var(--theme-nav-drawer-width) / 2);
      transition: width var(--_drawer-easing-duration) var(--_drawer-easing-out),
        translate var(--_drawer-easing-duration) var(--_drawer-easing-out);
    }

    &.drawer-bordered {
      box-shadow: none;
      border-radius: v.$rounded-none;
      border-right: v.$border-sm solid var(--theme-outline-surface);
    }

    & .drawer-content {
      display: flex;
      flex-direction: column;
      flex-basis: auto;
      flex-wrap: nowrap;
      height: 100%;
      min-height: 100%;

      .drawer-header {
        display: flex;
        justify-content: flex-start;
        gap: calc(var(--_drawer-gutter) / 1.5);
        flex-wrap: nowrap;
        word-break: break-all;
        align-items: center;
        padding: calc(var(--_drawer-gutter) / 1.5);

        :where(img) {
          --_drawer-brand-size: 2.5rem;

          // Images
          width: var(--_drawer-brand-size);
          max-height: var(--_drawer-brand-size);
          interpolate-size: allow-keywords;

          will-change: width, font-size;
          transition: width var(--_drawer-easing-duration) var(--_drawer-easing-in),
            max-height var(--_drawer-easing-duration) var(--_drawer-easing-in),
            font-size var(--_drawer-easing-duration) var(--_drawer-easing-in),
            translate var(--_drawer-easing-duration) var(--_drawer-easing-in);
        }

        :where(i:is(.drawer-brand-icon)) {
          --_drawer-brand-size: 2rem;

          font-size: var(--_drawer-brand-size);
          background: rgba(var(--theme-primary-fixed), 1);
          border-radius: v.$rounded-md;
          padding: .25rem;
        }
      }

      .drawer-body {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: calc(var(--_drawer-gutter) / 2);
        padding: calc(var(--_drawer-gutter) / 1.5);
        margin-block: calc(var(--_drawer-gutter) * 2);
        overflow-y: auto;
        overflow-x: hidden;

        .drawer-group {
          display: flex;
          flex-direction: column;

          & .drawer-group-content {
            display: flex;
            flex-direction: column;
          }
        }

        .drawer-item {
          position: relative;
          display: flex;
          gap: var(--_drawer-gutter);
          font-size: var(--fs-sm-400);
          font-weight: v.$fw-500;
          font-family: v.$font-primary;
          border-radius: v.$button-border-radius;
          padding: .5rem;
          letter-spacing: 0.55px;
          cursor: pointer;
          align-items: center;

          // Transition
          will-change: background-color, flex-direction, align-items, font-size;
          transition: background-color var(--_drawer-easing-duration) var(--_drawer-easing-in),
            flex-direction var(--_drawer-easing-duration) var(--_drawer-easing-in),
            align-items var(--_drawer-easing-duration) var(--_drawer-easing-in),
            font-size var(--_drawer-easing-duration) var(--_drawer-easing-in);

          &:not(.router-link-exact-active) {
            color: var(--theme-muted-a10);

            @supports (color: color-mix(in srgb, red, blue)) {
              color: color-mix(in srgb, var(--theme-muted-a10) 30%, var(--_drawer-color) 50%);
            }
          }

          &:is(a) {
            @extend .undecorated;
          }

          i {
            font-size: 20px;
            font-variation-settings: var(--iw-semi-bold);
            user-select: none;

            // Arrow icon for collapsible groups
            &:last-child {
              position: absolute;
              inset-block: 0.5rem;
              right: 0.5rem;
              margin: auto;
            }
          }

          &:hover {
            background-color: var(--theme-surface-container);

            i {
              font-variation-settings: var(--iw-semi-bold);
            }
          }

          &:is(.router-link-exact-active, .active) {
            color: var(--_drawer-color);
            background-color: var(--theme-surface-body-pane);
            box-shadow: var(--shadow-sm);
            font-weight: v.$fw-800;

            >i:first-child {
              font-variation-settings: var(--iw-bold);
              color: var(--_drawer-active-color, var(--theme-primary-a10));
            }
          }

          &:is(.drawer-item-disabled) {
            color: var(--theme-muted-a10);
            opacity: 0.55;
            cursor: not-allowed;
          }

          &.drawer-item-child {
            margin-left: .5rem;
            padding-left: .85rem;
            border-radius: 0 v.$button-border-radius v.$button-border-radius 0;
            border-left: v.$border-sm solid var(--theme-outline-surface);
          }
        }

        .drawer-text {
          font-size: var(--fs-sm-400);
          color: var(--theme-muted-a10);
          padding-inline: .5rem;
          margin-block: .5rem;

          @supports (color: color-mix(in srgb, red, blue)) {
            color: color-mix(in srgb, var(--theme-muted-a10) 30%, var(--_drawer-color) 50%);
          }
        }
      }

      .drawer-footer {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: flex-start;
        gap: calc(var(--_drawer-gutter) / 2);
        padding: calc(var(--_drawer-gutter) / 1.5);
      }

      // Dropdown / Static content
      .drawer-dropdown-content {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: calc(var(--_drawer-gutter) / 2);
        align-items: center;
        translate: 0;
        transform-origin: left bottom;
        transition: opacity 150ms ease-in-out,
          display 150ms ease-in-out var(--_discrete),
          translate 150ms ease-in-out;

        &:is(.dropdown-switcher) {
          justify-content: space-between;
          align-self: center;
          flex-grow: 1;
          opacity: 1;

          &:is(:hover) {
            background-color: var(--theme-surface-container);
            border-radius: v.$rounded-sm;
            cursor: pointer;
          }

          .drawer-dropdown-switcher-icon {
            font-size: var(--fs-500);
            color: var(--theme-muted-a10);
          }
        }

        & .drawer-dropdown-text {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          gap: 0;

          & .drawer-dropdown-title {
            font-family: v.$font-primary;
            font-size: var(--fs-sm-100);
            font-weight: v.$fw-800;
          }

          & .drawer-dropdown-subtitle {
            font-size: var(--fs-sm-300);
            font-weight: v.$fw-500;
            color: var(--theme-muted-a10);
          }

          & p {
            margin-bottom: 0;
            max-width: 20ch;
            @extend .text-truncate;
          }
        }

        /* Initial state when paragraph first appears */
        @starting-style {
          & {
            opacity: 0;
            translate: -1rem;
          }
        }
      }
    }

    // Container query for drawer
    @container DrawerContainer (width <=9rem) {
      & .drawer-content {
        & .drawer-header {
          // justify-content: center;
          flex-wrap: nowrap;
          align-items: center;

          :where(img, i) {
            --_drawer-brand-size: 3.5rem;
            translate: 1rem;
          }
        }

        & .drawer-body {
          .drawer-text {
            display: none;
          }

          & .drawer-item {
            flex-direction: column;
            align-items: center;
            font-size: var(--fs-sm-500);
            gap: calc(var(--_drawer-gutter) / 2);

            span {
              display: none;
            }

            &.drawer-item-child {
              padding-left: 0;
              border-left: none;
            }
          }
        }

        // Footer and Header dropdown text hide
        & .drawer-header,
        & .drawer-footer {
          & .drawer-dropdown-content {
            display: none;
            opacity: 0;
            translate: -3rem;
          }
        }
      }
    }
  }

  // Media query for reduced motion
  @media (prefers-reduced-motion) {
    .navigation-drawer {
      --_drawer-easing-duration: 300ms;

      transition-timing-function: step-start;

      &.drawer-closed {
        transition-timing-function: step-start;
      }

      & .drawer-content {
        & .drawer-header {
          :where(img, i) {
            transition-timing-function: step-start;
          }
        }
      }
    }
  }
}