@use '@colorffy/css/scss/main';

:root {
  // ==========================================================================
  // BRAND COLOR OVERRIDES
  // ==========================================================================
  --cffy-color-brand-primary-500: #004617;
  --cffy-color-brand-primary-50: #d4f5de;
  --cffy-color-brand-secondary-500: #22cbff;
  --cffy-color-brand-secondary-50: #90deff;
  --cffy-color-brand-accent-500: #e9740e;
  --cffy-color-brand-accent-50: #ffbe90;

  // ==========================================================================
  // TYPOGRAPHY OVERRIDES
  // ==========================================================================
  --cffy-font-primary: 'Host Grotesk', Tahoma, Geneva, Verdana, sans-serif;
  --cffy-font-secondary: 'Figtree', Tahoma, Geneva, Verdana, sans-serif;
}