@use '@colorffy/css/scss/main';

:root {
    /** Override default palette */
    --color-brand-primary-500: #1d0062;
    --color-brand-primary-50: #d5c4ff;
    --color-brand-secondary-500: #22cbff;
    --color-brand-secondary-50: #90deff;
    --color-brand-accent-500: #0ee9a0;
    --color-brand-accent-50: #90ffda;

    --theme-on-secondary: #000000;

    --font-primary: 'Host Grotesk', Tahoma, Geneva, Verdana, sans-serif;
    --font-secondary: 'Geist Mono', Tahoma, Geneva, Verdana, sans-serif;
}

.dark-mode {
    --theme-surface-base: #000000;
}