// ==========================================================================
// COLORFFY CSS VARIABLE OVERRIDES
// ==========================================================================
$custom-rounded-none: 0;
$custom-rounded-sm: 4px;
$custom-rounded-md: 8px;
$custom-rounded-lg: 12px;
$custom-rounded-xl: 25px;
$custom-rounded-xxl: 35px;

@forward '@colorffy/css/scss/abstracts/variables' with (
  // ==========================================================================
  // PRIMARY COLORS & GRADIENTS OVERRIDES
  // ==========================================================================
  $primary: #002662 !default,
  $secondary: #22cbff !default,
  $accent: #0ee9a0 !default,

  // ==========================================================================
  // EXTRA OVERRIDES (BORDER RADII)
  // ==========================================================================
  $card-border-radius: $custom-rounded-sm,
  $form-border-radius: $custom-rounded-md,
  $button-border-radius: $custom-rounded-sm,
  $dialog-border-radius: $custom-rounded-md
);