/**
 * Override Colorful CSS variables
 */
$rounded-md: 12px;
$rounded-lg: 25px;
$rounded-xl: 35px;

@forward '@colorful/css/scss/abstracts/variables' with (
    /** Overrides primaries colors and gradients */
    $primary: #4f46e5,
    $secondary: #ec4899,
    $accent: #0ea5e9,
    $success: #22c55e,
    $warning: #f59e0b,
    $danger: #ef4444,
    
    /** Extra overrides */
    $card-border-radius: $rounded-md,
    $form-border-radius: $rounded-md,
    $button-border-radius: $rounded-md,
    $dialog-border-radius: $rounded-xl
);

