/**
 * External CSS dependencies imported as layers
 */
@import url("floating-vue/dist/style.css") layer(reset.floating-vue);
@import url("@material-symbols/font-700/rounded.css") layer(base.symbols);