@use 'variables' as *;
@use '@colorffy/css/scss/main';

:root {
    --cffy-primary-base: #4f46e5;
    --cffy-secondary-base: #ec4899;
    --cffy-accent-base: #0ea5e9;
    --cffy-warning-base: #f59e0b;
    --cffy-success-base: #22c55e;
    --cffy-danger-base: #ef4444;
    --cffy-surface-base: #ffffff;

    --cffy-font-primary: 'Stack Sans Headline', Tahoma, Geneva, Verdana, sans-serif;
    --cffy-font-secondary: 'Mozilla Text', Tahoma, Geneva, Verdana, sans-serif;
}

.dark-mode {
    --cffy-primary-base: #ab87ff;
    --cffy-secondary-base: #fd98cc;
    --cffy-accent-base: #6ad2ff;
    --cffy-warning-base: #ffcf57;
    --cffy-success-base: #76f6a5;
    --cffy-danger-base: #fd8585;
    --cffy-surface-base: #121212;
}