@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

@layer utilities.border-radius {
  $radiuses: (
    'none': v.$rounded-none,
    'sm': v.$rounded-sm,
    'md': v.$rounded-md,
    'lg': v.$rounded-lg,
    'xl': v.$rounded-xl,
    'full': v.$rounded-full
  );

  // ==========================================================================
  // STANDARD CORNER RADII
  // ==========================================================================
  @each $name, $value in $radiuses {
    .rounded-#{$name} {
      border-radius: $value;
    }

    .rounded-t-#{$name} {
      @include m.make-radius(t, $value);
    }

    .rounded-r-#{$name} {
      @include m.make-radius(r, $value);
    }

    .rounded-b-#{$name} {
      @include m.make-radius(b, $value);
    }

    .rounded-l-#{$name} {
      @include m.make-radius(l, $value);
    }
  }

  // ==========================================================================
  // RAW BORDER RADIUS UTILITIES
  // ==========================================================================
  @each $value, $radius in v.$border-radius {
    .border-radius-#{$value} {
      border-radius: $radius;
    }
  }
}
