@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

@layer utilities.border-radius {
  $radiuses: (
    'none': var(--cffy-radius-none),
    'sm': var(--cffy-radius-sm),
    'md': var(--cffy-radius-md),
    'lg': var(--cffy-radius-lg),
    'xl': var(--cffy-radius-xl),
    'full': var(--cffy-radius-full)
  );

  // ==========================================================================
  // STANDARD CORNER RADII
  // ==========================================================================
  @each $name, $value in $radiuses {
    .rounded-#{$name} {
      border-radius: $value;
    }

    .rounded-t-#{$name} {
      @include m.make-radius(t, $value);
    }

    .rounded-r-#{$name} {
      @include m.make-radius(r, $value);
    }

    .rounded-b-#{$name} {
      @include m.make-radius(b, $value);
    }

    .rounded-l-#{$name} {
      @include m.make-radius(l, $value);
    }
  }

  // ==========================================================================
  // RAW BORDER RADIUS UTILITIES
  // ==========================================================================
  @each $value, $radius in v.$border-radius {
    .border-radius-#{$value} {
      border-radius: $radius;
    }
  }
}
