@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

@layer utilities.colors {
  // Default text colors
  .text-primary {
    @include m.text-color(var(--theme-primary-a10));
  }

  .text-secondary {
    @include m.text-color(var(--theme-secondary-a10));
  }

  .text-accent {
    @include m.text-color(var(--theme-accent-a10));
  }

  .text-success {
    @include m.text-color(var(--theme-success-a10));
  }

  .text-warning {
    @include m.text-color(var(--theme-warning-a10));
  }

  .text-danger {
    @include m.text-color(var(--theme-danger-a10));
  }

  .text-muted {
    @include m.text-color(var(--theme-muted-a10));
  }

  .text-white {
    @include m.text-color(v.$white);
  }

  .text-dark {
    @include m.text-color(v.$black);
  }

  // Emphasis text colors
  .text-primary-emphasis {
    @include m.text-color(var(--theme-primary-a90));
  }

  .text-secondary-emphasis {
    @include m.text-color(var(--theme-secondary-a90));
  }

  .text-accent-emphasis {
    @include m.text-color(var(--theme-accent-a90));
  }

  .text-success-emphasis {
    @include m.text-color(var(--theme-success-a90));
  }

  .text-warning-emphasis {
    @include m.text-color(var(--theme-warning-a90));
  }

  .text-danger-emphasis {
    @include m.text-color(var(--theme-danger-a90));
  }

  .text-muted-emphasis {
    @include m.text-color(var(--theme-muted-a90));
  }

  // Fixed text colors
  .text-primary-fixed {
    --_text-opacity: 1;
    color: rgba(var(--theme-primary-fixed), var(--_text-opacity));
  }

  .text-secondary-fixed {
    --_text-opacity: 1;
    color: rgba(var(--theme-secondary-fixed), var(--_text-opacity));
  }

  .text-accent-fixed {
    --_text-opacity: 1;
    color: rgba(var(--theme-accent-fixed), var(--_text-opacity));
  }

  .text-success-fixed {
    --_text-opacity: 1;
    color: rgba(var(--theme-success-fixed), var(--_text-opacity));
  }

  .text-warning-fixed {
    --_text-opacity: 1;
    color: rgba(var(--theme-warning-fixed), var(--_text-opacity));
  }

  .text-danger-fixed {
    --_text-opacity: 1;
    color: rgba(var(--theme-danger-fixed), var(--_text-opacity));
  }

  .text-muted-fixed {
    --_text-opacity: 1;
    color: rgba(var(--theme-muted-fixed), var(--_text-opacity));
  }

  /*
  * Fixed opacity
  * Generate fixed opacity text utilities for each value
  */
  @each $value, $opacity in v.$opacity {
    .text-opacity-#{$value} {
      --_text-opacity: #{$opacity};
    }
  }

  // On surface colors
  .text-on-primary {
    @include m.text-color(var(--theme-on-primary));
  }

  .text-on-secondary {
    @include m.text-color(var(--theme-on-secondary));
  }

  .text-on-accent {
    @include m.text-color(var(--theme-on-accent));
  }

  .text-on-success {
    @include m.text-color(v.$black);
  }

  .text-on-warning {
    @include m.text-color(v.$black);
  }

  .text-on-danger {
    @include m.text-color(var(--theme-on-primary-inverse));
  }

  .text-on-body {
    @include m.text-color(var(--theme-on-primary));
  }

  .text-on-body-inverse {
    @include m.text-color(var(--theme-on-primary-inverse));
  }

  .text-link {
    border-bottom: 1.5px solid currentColor;

    &.text-link-emphasis {
      border-bottom-width: 2px;
    }
  }

  // Gradient
  .text-gradient {
    color: var(--theme-primary-a10);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include m.text-gradient(45deg, v.$gradient-sunset);
    @include m.gradient-variants;
  }
}
