@use '../abstracts/variables' as v;

@layer utilities.shadow {
  // ==========================================================================
  // BOX SHADOW UTILITIES
  // ==========================================================================
  .shadow-none {
    box-shadow: none;
  }

  .shadow-sm {
    box-shadow: var(--cffy-shadow-sm);
  }

  .shadow-md {
    box-shadow: var(--cffy-shadow-md);
  }

  .shadow-lg {
    box-shadow: var(--cffy-shadow-lg);
  }

  .shadow-xl {
    box-shadow: var(--cffy-shadow-xl);
  }
}