@layer utilities.z-index {
  .z-0 {
    z-index: 0;
  }

  .z-1 {
    z-index: 1;
  }

  .z-2 {
    z-index: 2;
  }

  .z-5 {
    z-index: 5;
  }

  .z-99 {
    z-index: 99;
  }

  .z-100 {
    z-index: 100;
  }

  .z-999 {
    z-index: 999;
  }

  .z-1000 {
    z-index: 1000;
  }
}
