/**
 * Override Colorful CSS variables
 */
$rounded-sm: 4px;
$rounded-md: 8px;
$rounded-lg: 12px;
$rounded-xl: 25px;
$rounded-xxl: 35px;

@forward '@colorful/css/scss/abstracts/variables' with (
    /** Overrides primaries colors and gradients */
    $primary: #00DC82,
    $secondary: #020420,
    $accent: #0ea5e9,

    /** Extra overrides */
    $card-border-radius: $rounded-sm,
    $form-border-radius: $rounded-sm,
    $button-border-radius: $rounded-md,
    $dialog-border-radius: $rounded-sm);

.btn {
    &:is(.btn-rounded) {
        --_btn-radius: #{$rounded-md};
    }
}

// .v-popper__popper {
//     --_dropdown-radius: #{$rounded-lg};
// }