/**
 * Override Colorful CSS variables
 */
$rounded-none: 0;
$rounded-sm: 4px;
$rounded-md: 8px;
$rounded-lg: 12px;
$rounded-xl: 25px;
$rounded-xxl: 35px;

@forward '@colorful/css/scss/abstracts/variables' with (
    /** Overrides primaries colors and gradients */
    $primary: #002662,
    $secondary: #22cbff,
    $accent: #0ee9a0,

    /** Extra overrides */
    $card-border-radius: $rounded-none,
    $form-border-radius: $rounded-sm,
    $button-border-radius: $rounded-none,
    $dialog-border-radius: $rounded-sm);

.btn {
    &:is(.btn-rounded) {
        --_btn-radius: #{$rounded-md};
    }
}

// .v-popper__popper {
//     --_dropdown-radius: #{$rounded-lg};
// }