/**
 * Override ColorfulCSS variables
 */
$rounded-sm: 4px;
$rounded-md: 12px;
$rounded-lg: 25px;
$rounded-xl: 35px;

@forward '@giancarlosgza/colorfulcss/scss/abstracts/variables' with (
    /** Overrides primaries colors and gradients */
    $primary: #00DC82,
    $secondary: #020420,
    $accent: #0ea5e9,
    
    /** Extra overrides */
    $card-border-radius: $rounded-sm,
    $form-border-radius: $rounded-sm,
    $button-border-radius: $rounded-sm,
    $dialog-border-radius: $rounded-sm
);

