@use 'variables' as *;
@use '@colorful/css/scss/main';

:root {
    --theme-primary-base: #00DC82;
    --theme-secondary-base: #1e1e1e;
    --theme-accent-base: #0ea5e9;
    --theme-surface-base: #ffffff;
    --theme-on-secondary: #ffffff;

    --font-primary: 'Host Grotesk', Tahoma, Geneva, Verdana, sans-serif;
    --font-secondary: 'Geist Mono', Tahoma, Geneva, Verdana, sans-serif;
}

.dark-mode {
    --theme-primary-base: #7efcc8;
    --theme-secondary-base: #eeeeee;
    --theme-accent-base: #6ad2ff;
    --theme-surface-base: #000000;
    --theme-on-secondary: #000000;
}