/**
*** Colorful Design System Stylesheet v1.0.0 (Orion)
**/

@use './abstracts/layers';

@use './abstracts/reboot';
@use './abstracts/variables';
@use './abstracts/roots';
@use './abstracts/functions';
@use './abstracts/mixins';

@use "./base/animations";
@use './base/icons';
@use './base/table';
@use './base/typography';

@use './components/accordion';
@use './components/alert';
@use './components/badge';
@use './components/button';
@use './components/card';
@use './components/dialog';
@use './components/dropdown';
@use './components/image';
@use './components/list';
@use './components/prime';
@use './components/progress';
@use './components/tabs';
@use './components/tooltip';

@use './layout/flex-container';
@use './layout/footer';
@use './layout/form-check';
@use './layout/form-control';
@use './layout/grid-container';
@use './layout/header';
@use './layout/input-group';
@use './layout/navbar';
@use './layout/sidebar';
@use './layout/media-queries';

@use "./utilities/aspect-ratio";
@use "./utilities/background";
@use "./utilities/border-radius";
@use "./utilities/borders";
@use "./utilities/colors";
@use "./utilities/cursors";
@use "./utilities/display";
@use "./utilities/filter";
@use "./utilities/flex";
@use "./utilities/isolation";
@use "./utilities/mask";
@use "./utilities/mix-blend-mode";
@use "./utilities/opacity";
@use "./utilities/position";
@use "./utilities/scroll";
@use "./utilities/shadow";
@use "./utilities/size";
@use "./utilities/spacing";
@use "./utilities/text";
@use "./utilities/transform";
@use "./utilities/visibility";
@use "./utilities/z-index";

// Pages styles
@use './pages/core';
