@use '../abstracts/variables' as v;

@layer base.animations {
  // ==========================================================================
  // FADE ANIMATIONS
  // ==========================================================================
  @keyframes fade-in-down {
    0% {
      translate: 0 2rem;
      opacity: 0;
    }

    100% {
      translate: 0;
      opacity: 1;
    }
  }

  // ==========================================================================
  // OPACITY ANIMATIONS
  // ==========================================================================
  @keyframes opacity-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  // ==========================================================================
  // SCALE ANIMATIONS
  // ==========================================================================
  @keyframes scale-in {
    0% {
      scale: 0;
      opacity: 0;
    }

    100% {
      scale: 1;
      opacity: 1;
    }
  }

  // ==========================================================================
  // SPIN ANIMATIONS
  // ==========================================================================
  @keyframes spin {
    to {
      rotate: 1turn;
    }
  }

  .animation-spin {
    animation-name: spin;
    animation-direction: normal;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  // ==========================================================================
  // MISCELLANEOUS KEYFRAMES & UTILITIES
  // ==========================================================================
  @keyframes zoom-in-out {
    from {
      scale: inherit;
    }

    50% {
      scale: 1.1;
    }

    to {
      scale: inherit;
    }
  }

  @keyframes progress-bar-stripes {
    from {
      width: 0;
    }

    to {
      width: 100%;
    }
  }

  @keyframes angle-spin {
    0% {
      --cffy-gradient-angle: 0deg;
    }

    100% {
      --cffy-gradient-angle: 360deg;
    }
  }

  @keyframes angle-glow {
    100% {
      --cffy-gradient-angle: 405deg;
    }
  }

  // ==========================================================================
  // PREFERS REDUCED MOTION BEHAVIORS
  // ==========================================================================
  @media (prefers-reduced-motion) {
    @keyframes fade-in-down {
      0% {
        translate: 0;
        opacity: 0;
      }

      100% {
        translate: 0;
        opacity: 1;
      }
    }

    @keyframes scale-in {
      0% {
        scale: 1;
        opacity: 0;
      }

      100% {
        scale: 1;
        opacity: 1;
      }
    }
  }

  // ==========================================================================
  // SLIDE BLOCK TRANSITION
  // ==========================================================================
  .slide-block-enter-active {
    transition: translate var(--cffy-duration-800) var(--cffy-ease-decelerate),
    opacity var(--cffy-duration-400) var(--cffy-ease-decelerate);
  }

  .slide-block-leave-active {
    transition: translate var(--cffy-duration-400) var(--cffy-ease-accelerate),
    opacity var(--cffy-duration-200) var(--cffy-ease-accelerate);
  }

  .slide-block-enter-from {
    opacity: 0;
    translate: 0 1.875rem;
  }

  .slide-block-leave-to {
    opacity: 0;
    translate: 0 -1.875rem;
  }
}
