@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

@layer base.icons {
  i:is(.material-symbols-rounded, .material-symbols-outlined, .material-symbols-sharp) {
    display: inline-flex;
    vertical-align: middle;
    transition: all 0.3s v.$easing-in-fallback;
    font-variation-settings: var(--iw-semi-bold);
  }

  // Wrap
  .icon-wrap {
    --_icon-wrap-padding: 20px;
    --_icon-wrap-radius: #{v.$rounded-full};
    --_icon-wrap-bg-color: var(--theme-background);
    --_icon-wrap-color: var(--theme-primary-a10);
    --_icon-wrap-border-size: none;
    --_icon-wrap-border-color: transparent;

    padding: var(--_icon-wrap-padding);
    background-color: var(--_icon-wrap-bg-color);
    color: var(--_icon-wrap-color);
    border-radius: var(--_icon-wrap-radius);
    border: var(--_icon-wrap-border-size) solid;
    height: 100%;

    // Semantic
    &.icon-wrap-primary {
      --_icon-wrap-bg-color: rgba(var(--theme-primary-fixed), 10%);
      --_icon-wrap-color: var(--theme-primary-a10);
    }

    &.icon-wrap-secondary {
      --_icon-wrap-bg-color: rgba(var(--theme-secondary-fixed), 10%);
      --_icon-wrap-color: var(--theme-secondary-a10);
    }

    &.icon-wrap-accent {
      --_icon-wrap-bg-color: rgba(var(--theme-accent-fixed), 10%);
      --_icon-wrap-color: var(--theme-accent-a10);
    }

    &.icon-wrap-success {
      --_icon-wrap-bg-color: rgba(var(--theme-success-fixed), 10%);
      --_icon-wrap-color: var(--theme-success-a10);
    }

    &.icon-wrap-warning {
      --_icon-wrap-bg-color: rgba(var(--theme-warning-fixed), 10%);
      --_icon-wrap-color: var(--theme-warning-a10);
    }

    &.icon-wrap-danger {
      --_icon-wrap-bg-color: rgba(var(--theme-danger-fixed), 10%);
      --_icon-wrap-color: var(--theme-danger-a10);
    }

    // Surface
    &.icon-wrap-default {
      --_icon-wrap-bg-color: var(--theme-surface-container);
      --_icon-wrap-color: var(--theme-on-primary);
    }

    &.icon-wrap-outline {
      --_icon-wrap-bg-color: transparent;
      --_icon-wrap-color: var(--theme-on-primary);
      --_icon-wrap-border-size: #{v.$border-sm};
      --_icon-wrap-border-color: var(--theme-outline-surface);
      
      border-color: var(--_icon-wrap-border-color);
    }

    &.icon-wrap-surface {
      --_icon-wrap-bg-color: var(--theme-surface-body-pane);
      --_icon-wrap-color: var(--theme-on-primary);
    }

    // Gradient
    &.icon-wrap-gradient {
      color: v.$white;
      @include m.bg-gradient(45deg, v.$gradient-primary);
      @include m.gradient-variants(false, true);

      i {
        font-variation-settings: var(--iw-bold);
        color: inherit;
      }
    }

    // Bordered
    &.icon-wrap-bordered {
      --_icon-wrap-border-size: #{v.$border-sm};
      --_icon-wrap-border-color: var(--_icon-wrap-color);

      border-color: var(--_icon-wrap-border-color);
    }

    // Sizes
    &.icon-wrap-xs {
      --_icon-wrap-padding: 8px;
      --_icon-wrap-radius: #{v.$rounded-md};

      display: grid;
      place-content: center;
      aspect-ratio: 1;
      width: 2rem;

      &:is(i) {
        font-size: var(--fs-600);
      }
    }

    &.icon-wrap-sm {
      --_icon-wrap-padding: 10px;
      --_icon-wrap-radius: #{v.$rounded-lg};
    }

    &.icon-wrap-lg {
      --_icon-wrap-padding: 30px;
      --_icon-wrap-radius: #{v.$rounded-xl};

      &:is(i) {
        font-size: calc(var(--fs-100));
      }
    }
  }

  // Empty state
  .icon-state-wrapper {
    --_icon-state-size: clamp(3rem, calc(5vw + 3rem), 7rem);
    --_icon-state-gap: 1rem;

    container: state-wrapper / inline-size;
    display: grid;
    justify-content: center;
    margin-block: 1.75rem;
    gap: var(--_icon-state-gap);
    isolation: isolate;

    &>* {
      grid-area: 1/1;
    }

    &:is(:hover) {
      & .icon-empty-state {
        --_icon-rotate: 15deg;
        --_icon-translate: 10px;
        --_icon-state-radius: #{v.$rounded-xl};
      }
    }

    & .icon-empty-state {
      --_icon-rotate: 0;
      --_icon-translate: 5px;
      --_icon-translate-pow: 5;
      --_icon-state-radius: 100%;
      --_icon-state-easing-in: #{v.$easing-in-fallback};
      --_icon-state-easing-duration: 250ms;

      height: var(--_icon-state-size);
      width: var(--_icon-state-size);
      aspect-ratio: 1;
      border-radius: var(--_icon-state-radius);
      transform-origin: center bottom;
      transition: translate var(--_icon-state-easing-duration) var(--_icon-state-easing-in),
        rotate var(--_icon-state-easing-duration) var(--_icon-state-easing-in),
        border-radius var(--_icon-state-easing-duration) var(--_icon-state-easing-in);

      &:nth-child(1) {
        @include m.bg-gradient(45deg, v.$gradient-cyan);
        rotate: calc(var(--_icon-rotate) * -2);
        translate: calc(var(--_icon-translate) * calc(var(--_icon-translate-pow) * -1));
      }

      &:nth-child(2) {
        @include m.bg-gradient(45deg, v.$gradient-honey);
        rotate: calc(var(--_icon-rotate) * 0);
        translate: calc(var(--_icon-translate) * 0);
      }

      &:nth-child(3) {
        @include m.bg-gradient(45deg, v.$gradient-amethyst);
        rotate: calc(var(--_icon-rotate) * 2);
        translate: calc(var(--_icon-translate) * var(--_icon-translate-pow));
      }

      @container state-wrapper (width <=500px) {
        --_icon-translate: 5px;
        --_icon-translate-pow: 2.5;
      }

      @supports (transition: linear(1, 1, 1)) {
        --_icon-state-easing-in: #{v.$easing-spring};
        --_icon-state-easing-duration: 800ms;
      }
    }
  }

  /*
   * Icons micro interactions
   */
  .hover-rotate {
    &:not(.disabled, :disabled) {
      & i {
        transition: rotate 2500ms v.$easing-spring;
      }

      &:is(:hover) {
        & i {
          rotate: 360deg;
        }
      }
    }
  }

  .hover-scale {
    &:not(.disabled, :disabled) {
      & i {
        transition: scale 300ms v.$easing-in-fallback;
      }

      &:is(:hover) {
        & i {
          scale: 1.2;
        }
      }
    }
  }
}