// ==========================================================================
// CSS CUSTOM PROPERTY DEFINITIONS
// ==========================================================================
@property --cffy-gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
